[submodule "Cameraman"]
	path = Cameraman
	url = https://github.com/ChalkPE/Cameraman
[submodule "MineBros"]
	path = MineBros
	url = https://github.com/ns827/MineBros.git
[submodule "SimpleArea"]
	path = SimpleArea
	url = https://github.com/HmHmmHm/SimpleArea
[submodule "THAAD"]
	path = THAAD
	url = https://github.com/HmHmmHm/THAAD.git
[submodule "FixBiome"]
	path = FixBiome
	url = https://github.com/HmHmmHm/FixBiome.git
[submodule "CreativeEconomy"]
	path = CreativeEconomy
	url = https://github.com/HmHmmHm/CreativeEconomy.git
[submodule "EconomyGamble"]
	path = EconomyGamble
	url = https://github.com/HmHmmHm/EconomyGamble.git
[submodule "AnnouncePro"]
	path = AnnouncePro
	url = https://github.com/HmHmmHm/AnnouncePro.git
[submodule "EmailAuth"]
	path = EmailAuth
	url = https://github.com/HmHmmHm/EmailAuth.git
